/*LuKang.less > Versions 2.0*/
/***网页默认设置***/
/*字体颜色*/
/*什么字体*/
/*字体大小*/
/*边框颜色*/
/*渐变样式，在手机端不能使用，只针对于背景颜色和字体颜色*/
/*动画*/
/*旋转样式*/
/*3D旋转样式-IE10以下不支持*/
/*快速形成一个3d磁场*/
/*快速设置宽高度*/
/*快速设置一个正方形*/
/*快速设置浮动*/
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
/*快速设置鼠标点击小手样式*/
/*快速设置圆角 IE9以下不支持此样式*/
/*快速设置一个按钮*/
/*快速设置一个进度条*/
/*快速设置一个banner切换 配合 jquery.SuperSlide.2.1.1.js 插件*/
/*快速设置一个导航菜单,包括导航下拉菜单。*/
/*快速设置字体颜色和字体大小*/
/*快速设置背景阴影*/
/*快速设置字体阴影*/
/*快速设置内边距*/
/*快速设置外边距*/
/*快速设置对齐*/
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
/*删除边框*/
.borderDel {
  border: 0px;
}
/*快速设置高度并居中*/
/*
content-box，border和padding不计算入width之内  --默认
padding-box，padding计算入width内
border-box，border和padding计算入width之内，其实就是怪异模式了~
*/
/*透明 ps:请输入0-1 比如：0.5*/
/*边框的线样式快速设置*/
/*设置居上的px,用于上下居中*/
/*----------------------------------------------------------*/
/*修改自带标签的一些特性*/
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/*修改自带标签的一些特性*/
/*自己写的常用样式*/
.dib {
  display: inline-block;
  background-repeat: no-repeat;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.lk {
  width: 100%;
  overflow: hidden;
  text-align: center;
  /*note: "..此处里面的样式有问题,请联系鲁康。"*/
}
.lk .main {
  width: 1000px;
  /*note:"..此处调整整体宽度.."*/
}
/*自己写的常用样式*/
body {
  background-color: #fff;
  overflow-x: hidden;
}
.canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #F7FAFC;
}
.lk_body {
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.lk_body .lk_float {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background-color: rgba(247, 250, 252, 0.5);
}
.lk_body .lk_float .resume {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #000;
}
.lk_body .lk_float .rwm_btn {
  position: relative;
}
.lk_body .lk_float .rwm_btn .rwm {
  position: absolute;
  display: none;
  right: 99px;
  top: 0;
  width: 150px;
  height: 150px;
}
.lk_body .lk_float .rwm_btn:hover .rwm {
  display: block;
}
.lk_body .banner {
  width: 100%;
}
.lk_body .Modular {
  position: relative;
  margin: 10px auto;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-color: #1B9AF7;
}
.lk_body .Modular.fff {
  background-color: #fff;
}
.lk_body .Modular .mo_left {
  color: #fff;
  padding: 15px;
}
.lk_body .Modular .mo_right {
  background-color: #fff;
}
.lk_body .Modular .title {
  margin: 25px 0 20px;
}
.lk_body .Modular .title .h1 {
  font-size: 28px;
  font-weight: 400;
}
.lk_body .Modular .title .h2 {
  font-size: 14px;
}
.lk_body .Modular .side-info li {
  padding-top: 20px;
  list-style: none;
}
.lk_body .Modular .side-info dt {
  font-size: 20px;
  color: #0056CB;
  line-height: 40px;
  font-weight: 100;
}
.lk_body .Modular .side-info dd {
  margin-left: 25px;
  font-size: 17px;
  margin-bottom: 5px;
}
.lk_body .Modular .side-info dd a {
  color: #fff;
}
.lk_body .Modular .note {
  text-indent: 2em;
  margin-top: 90px;
  color: #136aaa;
  font-size: 23px;
  margin-bottom: 90px;
}
.lk_body .Modular .c8 .h3 {
  color: #1B9AF7;
  border-bottom: 1px solid #1B9AF7;
  margin-top: 40px;
  margin-bottom: 20px;
}
.lk_body .Modular .c8 .h {
  padding-left: 31px;
  color: #000;
}
.lk_body .Modular .c8 .h h3 {
  font-size: 20px;
}
.lk_body .Modular .c8 .h span {
  font-size: 17px;
  color: #616161;
}
.lk_body .Modular .c8 .progress-bar-info {
  background-color: #1B9AF7;
}
.lk_body .Modular .c8 .pro {
  padding-left: 31px;
}
.lk_body .Modular .c8 .progress {
  border-radius: 0;
}
.lk_body .top {
  height: 500px;
  padding-top: 50px;
}
li,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.circle {
  height: 19px;
  width: 19px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #1B9AF7;
  float: left;
  position: absolute;
  left: -31px;
  top: 5px;
}
.exp {
  border-left: 3px solid #1B9AF7;
  margin-left: 15px;
}
.exp p {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 3px;
}
.exp > li {
  position: relative;
  top: -5px;
  margin: 0 0 20px 20px;
  padding-bottom: 20px;
}
.exp li h4 {
  font-size: 20px;
  color: #000;
  padding-top: 4px;
}
.exp li .p {
  font-size: 17px;
  color: #616161;
  text-indent: 1em;
}
.exp img {
  width: 200px;
  height: 150px;
}
.exp ul > li {
  margin: 0 0 12px;
}
.efe .task4img img {
  height: 97px;
  width: inherit;
}
img.load {
  background-image: url("../img/loading.png");
  background-repeat: no-repeat;
  background-position: center center;
}
